@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(75%);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.darkmode {
    font-family: Poppins;
    color: rgba(220, 220, 220, 0.9);
    text-align: center;
}
.lightmode {
    font-family: Poppins;
    color: rgba(10, 10, 10, 1);
    text-align: center;
}
body {
    padding: 0.5%;
    z-index: auto;
    background: linear-gradient(45deg, rgba(30, 30, 50, 1), rgba(50, 50, 60, 1));
    background-size: 100vw 200vh;
}
.darkmode[class*="top-bar"] {
    z-index: 10;
    background: rgba(80, 80, 80, 1);
    padding: 0.5rem;
    border-radius: 10px;
    transition: all .5s;
    position: sticky;
    top: 1%;
    display: flex;
    justify-content: space-evenly;
    filter: drop-shadow(0 0 0.7rem rgba(40, 40, 40, 0.6));
}
.darkmode[class*="media-button"] {
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 100px;
    height: 2.5rem;
    margin: 0.25rem;
}
.darkmode[class*="media-button"]:hover {
    background: rgba(111, 111, 111, 1);
    transform: scale(1.1);
}
.lightmode[class*="top-bar"] {
    z-index: 10;
    background: rgba(220, 220, 220, 1);
    padding: 0.5rem;
    border-radius: 10px;
    position: sticky;
    top: 1%;
    transition: all .5s;
    display: flex;
    justify-content: space-evenly;
    filter: drop-shadow(0 0 0.7rem rgba(180, 180, 180, 0.6));
}
.lightmode[class*="media-button"] {
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 100px;
    height: 2.5rem;
    margin: 0.25rem;
}
.lightmode[class*="media-button"]:hover {
    background: rgba(250, 250, 250, 1);
    transform: scale(1.1);
}
.media-button:active {
    transform: scale(0.9);
}
.content-outlined-container {
    border: 2px solid;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
}
.content-subheader {
    font-weight: bold;
    font-size: 125%;
}
.content-header {
    font-size: 200%;
    position: relative;
    z-index: 1;
}
.content-paragraph {
    font-size: 110%;
    position: relative;
    z-index: 1;
    top: -2vh;
}
.darkmode[class*="aboutMeScrollButton"] {
    border: 3px solid;
    font-size: 110%;
    font-weight: bold;
    border-radius: 5px;
    padding: 2% 3%;
    color: rgba(180, 255, 180, 0.8);
    cursor: pointer;
    background: transparent;
    transition: all 0.3s;
    text-align: center;
    margin-top: 10vh;
}
.darkmode[class*="aboutMeScrollButton"]:hover {
    color: rgba(100, 255, 100, 1);
    transform: scale(1.05);
}
.lightmode[class*="aboutMeScrollButton"] {
    border: 3px solid;
    font-size: 110%;
    font-weight: bold;
    border-radius: 5px;
    padding: 2% 3%;
    color: rgba(255, 140, 140, 0.8);
    cursor: pointer;
    background: transparent;
    transition: all 0.3s;
    text-align: center;
    margin-top: 10vh;
}
.lightmode[class*="aboutMeScrollButton"]:hover {
    color: rgba(255, 100, 100, 1);
    transform: scale(1.05);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#particles {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -99999;
    height: 200vh;
}
.tech-stack {
    display: flex;
    justify-content: center;
}
.tech-stack-language-icon {
    height: 15vh;
    padding-left: 3%;
    padding-right: 3%;
    transition: all 0.2s;
    cursor: pointer;
}
.tech-stack-language-icon:hover {
    transform: scale(1.15);
}
.content2 {
    animation: fade-in-bottom ease-out;
    animation-timeline: scroll(root);
}